body {
    background-color: rgb(231, 120, 201);
    color: rgb(3, 82, 28);
}

.eachLink {
    display: block;
    /* color:rgb(50, 21, 168); */
    text-decoration: none;
    margin: 5px 0;
}

.linksVille {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.eachLink:hover {
    color: rgb(250, 251, 254);
    text-decoration: underline;
    font-family: "Caveat Brush", serif;
}

.linkOne {
    color:rgb(150, 231, 19);
    font-family: "Amaranth", serif;
    font-weight: 400;
    font-style: normal;
}
.linkTwo {
    color:rgb(17, 105, 219);
    font-family: "Amaranth", serif;
    font-weight: 700;
    font-style: normal;
}
.linkThree {
    color:rgb(7, 103, 52);
    font-family: "Amaranth", serif;
    font-weight: 400;
    font-style: italic;
}
.linkFour {
    color:rgb(105, 6, 57);
    font-family: "Amaranth", serif;
    font-weight: 700;
    font-style: italic;
}
.linkFive {
    color:rgb(221, 10, 10);
    font-family: "Amaranth", serif;
    font-weight: 400;
    font-style: normal;

}
.linkSix {
    color:rgb(54, 38, 143);
    font-family: "Amaranth", serif;
    font-weight: 700;
    font-style: normal;
}
.linkSeven {
    color:rgb(10, 130, 229);
    font-family: "Amaranth", serif;
    font-weight: 400;
    font-style: normal;

}
.linkEight {
    color:rgb(6, 14, 67);
    font-family: "Amaranth", serif;
    font-weight: 700;
    font-style: normal;
}