body {
    background-color: rgb(9, 127, 38);
    color: rgb(10, 55, 30);
}

/* .eachLink {
    display: block;
    color:rgb(19, 84, 7);
    text-decoration: none;
    margin: 5px 0;
} */

.eachLink:hover {
    color: rgb(21, 79, 186);
    text-decoration: underline;
    text-transform: uppercase;
    font-family: "Patrick Hand", serif;
}

#positionerContainer {
    text-align: center;
    margin-top: 20px;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.letter-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    border: 2px solid rgb(222, 152, 21);
    text-transform: uppercase;
    background-color: rgb(222, 152, 21);
    color: rgb(5, 63, 120);
    border-radius: .25rem;
    font-size: 2rem;
    font-weight: bold;
}

#wordResults,
#stats {
    color: rgb(110, 37, 5);
    margin-top: 20px;
    font-size: 18px;
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.highlight {
    color: rgb(236, 246, 255);
    font-weight: bold;
}

.eachLink {
    padding: .2rem;
    max-width: 10.5rem;
    margin-left: 1rem;
    text-decoration: none;
    background-color: rgb(9, 127, 38);
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

#linksVille {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 3rem;
    margin-left: 20rem;
    padding: auto; 
    position: relative;
    left: -12rem;
}

.linkOne {
    color:rgb(204, 77, 153);
    font-family: "Patrick Hand", serif;
}
 
.linkTwo {
    color:rgb(15, 216, 29);
    font-family: "Patrick Hand", serif;
}

.linkThree {
    color:rgb(179, 131, 235);
    font-family: "Patrick Hand", serif;
}

.linkFour {
    color:rgb(105, 6, 57);
    font-family: "Patrick Hand", serif;
}

.linkFive {
    color:rgb(221, 10, 10);
    font-family: "Patrick Hand", serif;
}

.linkSix {
    color:rgb(54, 38, 143);
    font-family: "Patrick Hand", serif;
}

.linkSeven {
    color:rgb(152, 164, 174);
    font-family: "Patrick Hand", serif;
}

.linkEight {
    color:rgb(6, 14, 67);
    font-family: "Patrick Hand", serif;
}
